:root {
    --myFont: "Arial", sans-serif;
    --FontArialFull: 900 30px/25px;
    --border-dashed: 5px dashed rgb(255, 123, 0);
    --rang-2: rgb(45, 45, 142);
    --margin: 0px 10px 0px 10px;
    --padding: 0px 50px 0px 20px;
    --backrgound-c: red;
}

h1 {
    --rang: blue;
    font: var(--FontArialFull) var(--myFont);
    color: var(--rang);
}

h2 {
    border: var(--border-dashed);
    font: var(--FontArialFull) var(--myFont);
    color: var(--rang-2);
    margin: var(--margin);
    padding: var(--padding);
}

h3 {
    font: var(--arialFont) var(--myFont);
    --arialFont: 600 25px/25px;
    color: var(--rang-2);
    --text-align: center;
    text-align: var(--text-align);
    --border-solid: 3px solid blue;
    border: var(--border-solid);
}

h4 {
    background: var(--backrgound-c);
    --rang-3: yellow;
    color: var(--rang-3);
}